{% extends 'base.html.twig' %}

{% block title %}Food{% endblock %}

{% block body %}
    <h1>Food</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ food.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ food.quantity }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ food.label }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ food.weight }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_food_index') }}">back to list</a>

    <a href="{{ path('app_food_edit', {'id': food.id}) }}">edit</a>

    {{ include('food/_delete_form.html.twig') }}
{% endblock %}
