{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="d-flex justify-content-evenly">
        <a href="{{ path('app_category_index') }}"  class="btn btn-outline-info">back to list</a>
        <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-outline-warning">edit</a>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ category.label }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ component('Tag', {
                    color: category.color
                    }) }} {{ category.color }}</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
