{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="col-sm-2 mb-3">
            <a href="{{ path('app_food_new') }}" class="btn btn-primary">Ajouter un aliment</a>
        </div>
        <div class="row align-items-start" style="min-height: 6rem;">
            {% for food in foods %}
                <div class="col-sm-4">
                    <div class="card p-2">
                        <div class="d-flex justify-content-between mb-3">
                            <span class="fw-bolder fs-4">{{ food.label }}{% if food.quantity is not null %}({{ food.quantity }}){% endif %}</span>
                            <span>
                                <a href="{{ path('app_food_show', {id: food.id}) }}" class="fs-4">
                                    {{ component('Tag', {food: food, color: food.category.color}) }}
                                </a>
                                <a href="{{ path('app_food_edit', {id: food.id}) }}"
                                   class="btn btn-rounded btn-soft-primary">
                                    <i class="mdi mdi-pencil d-block font-size-16"></i>
                                </a>
                            </span>
                        </div>


                        <div class="d-flex justify-content-evenly">

                            {% if food.quantity is not null %}
                                <a
                                        href="{{ path('app_food_dec', {id: food.id }) }}"
                                        class="btn btn-sm btn-outline-secondary btn-rounded"
                                ><< Un en moins</a>
                            {% else %}
                                <a
                                        href="{{ path('app_food_out', {id: food.id }) }}"
                                        class="btn btn-sm btn-outline-primary btn-rounded"
                                        onclick="return confirm('L\'aliment est bien sortit ? (et va être supprimé)');"
                                >Aliment sortit du congelateur</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}