{{ form_start(form) }}
    {{ form_row(form.label) }}
    {{ form_row(form.color) }}

<div class="d-flex justify-content-evenly">
    <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
    {% if button_label is defined %}{{ include('color/_delete_form.html.twig') }}{% endif %}

</div>

{{ form_end(form) }}
