{% extends 'base.html.twig' %}

{% block title %}Color index{% endblock %}

{% block body %}
    <a href="{{ path('app_color_new') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for color in colors %}
            <tr>
                <td>{{ component('Tag', {color: color}) }}{{ color.label }}</td>
                <td>
                    <a href="{{ path('app_color_show', {'id': color.id}) }}">show</a>
                    <a href="{{ path('app_color_edit', {'id': color.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
