{% extends 'base.html.twig' %}

{% block title %}Color{% endblock %}

{% block body %}
    <div class="d-flex justify-content-evenly">
        <a href="{{ path('app_color_index') }}"  class="btn btn-outline-info">back to list</a>
        <a href="{{ path('app_color_edit', {'id': color.id}) }}" class="btn btn-outline-warning">edit</a>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ color.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ color.label }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ color.color }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_color_index') }}">back to list</a>

    <a href="{{ path('app_color_edit', {'id': color.id}) }}">edit</a>

    {{ include('color/_delete_form.html.twig') }}
{% endblock %}
